.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
  background: -webkit-linear-gradient(180deg, #cc007a 60%, #291e95 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  box-shadow: none;
  text-decoration: none;
}
